<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContactBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.dollop.controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.dollop.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactServlet</display-name>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.dollop.controller.AddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/AddContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.dollop.controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.dollop.controller.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.dollop.controller.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.dollop.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.dollop.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>userfilter</filter-name>
    <filter-class>com.dollop.filters.UserAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userfilter</filter-name>
    <url-pattern>/addContact.jsp</url-pattern>
    <url-pattern>/dashboard.jsp</url-pattern>
    <url-pattern>/viewContact.jsp</url-pattern>
    <url-pattern>/profile.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadHandler</display-name>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>com.dollop.controller.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileHandler</display-name>
    <servlet-name>FileHandler</servlet-name>
    <servlet-class>com.dollop.controller.FileHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileHandler</servlet-name>
    <url-pattern>/FileHandler</url-pattern>
  </servlet-mapping>
</web-app>